{
  "presets": ["react-static/babel-preset.js", "@emotion/babel-preset-css-prop"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["@babel/plugin-proposal-class-properties", {"loose": true}],
    ["import", {"libraryName": "antd", "style": true}]
  ]
}
